.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*_files
!header.html
!index.html
!page.html
!opensInOtherWindow.html
*.pdf
*.md
*.docx
*.local
!README.md
lsAll
allFiles
node_modules/*
changed.txt
token.json
credentials.json
figure/
builds/
